@model WebApplication.Models.PhotoInfo

@{
    ViewBag.Title = "ViewFullPhoto";
}

<h2>ViewFullPhoto</h2>

<div class="col-xs-18 col-sm-6 col-md-3">
    <div class="thumbnail">
        <img src="@Url.Content(Model.RelativePath)" />
        <div class="caption">
            <h4>@Model.Name</h4>
            <p>@Model.TimeTaken</p>
            <p>
                <button onclick="RemovePicAlert('@Model.Name', '@Model.TimeTaken', '@Url.Content(Model.AbsToRelativePath(Model.Path))')" class="btn btn-default btn-xs">Remove</button>
            </p>
            <p id="demo"></p>

        </div>
    </div>
</div>

<script>
                function RemovePicAlert(photoName, photoTimeTaken, path_to) {
                    var txt = "Damn?!";
                    if (confirm("Are you sure you want to delete photo: '" + photoName + "' taken at: " + photoTimeTaken)) {
                        var input = { path:path_to };
                        $.get("@Url.Action("RemovePic")", input, function (data) {
                            //document.getElementById("demo").innerHTML = data;
                            window.location.replace("@Url.Action("Photos", "Main", new { })");
                            }, "text");

                    }
                }
</script>